h4 {
  color: red;
}
* {
  align-items: center;
  background-color: rgb(230, 225, 225);
}

.container {
align-items: center;
}
h1 {
  margin: 20px
}
h3 {
  margin: 5px
}
input {
  margin: 5px;
  background-color: white;
}